.DS_Store
addons/
CHANGELOG.md
changes.txt
docs/
export/
INSTALL.md
LICENSE.md
other/
projectGenerator_osx
projectGenerator
scripts/
libs/
examples/
emptyExample/
node_modules/

*.xcodeproj
*.xcodeproj/
*.plist
*.xcconfig
*.app
*.app/
*.sln
*.vcxproj*
*.rc
*.sdf
obj/
*.exp
*.opensdf
*.dll
*.exe
*.lib
*.pdb
*.suo
*.ilk
*.h~

#media assets
*.mov
*.mp4
*.png
*.gif
*.jpg
*.jpeg
*.wav
*.mp3
*.ogg

*_debug
*.cbp
*.layout
*.workspace
