.DS_Store
addons/
CHANGELOG.md
changes.txt
docs/
export/
INSTALL.md
LICENSE.md
other/
projectGenerator_osx
projectGenerator
scripts/
libs/
examples/
emptyExample/
bin/

*.xcodeproj
*.xcodeproj/
*.make
Makefile
*.plist
*.xcconfig
*.app
*.app/
*.sln
*.vcxproj*
*.rc
*.sdf
obj/
*.exp
*.opensdf