/* IMPORT RESET */
@import url("reset.css");

/* IMPORT 12 COLUMN RESPONSIVE GS */
@import url("responsive.gs.12col.css");

body{
	background: #7A86AD;
}

button{
	font-size: 2em;
	font-weight: bold;
	padding: 1.25em;
	border-radius: 1em;
	border: 2px solid;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

button[value="matrix"]{
	background: #4E9231;
	color: #A8DB92;
	border-color: #A8DB92;
}

button[value="matrix"]:active{
	background: #1F4B00;
}

button[value="traditional"]{
	background: #AA6A39;
	color: #FFCFAA;
	border-color: #FFCFAA;
}

button[value="traditional"]:active{
	background: #551A00;
}