*{
	box-sizing: border-box;
}

html, body{
	margin: 0;
	padding: 0;
	background: black;
	color: #fff;
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
}

#container{
	width: 70%;
	margin: 0 auto;
}

video{
	/*width: 100%;*/
	display: none;
}

.controls{
	background-color: rgba(255, 255, 255, 0.5);
	-webkit-user-select: none;
	user-select: none;
}

.controls button{
	border-radius: none;
	border: #fff;
	color: #fff;
	outline: none;
	background: black;
	font-size: 16px;
	margin-right: 16px;
}

.controls label{
	font-size: 16px;
}

input {
	display: none;
}